# --- Backend (FastAPI) ---

SECRET_KEY=
DEVELOPER_API_KEY=

# Conexión a PostgreSQL
DATABASE_URL=postgresql://stockuser:stockpass123@localhost:5432/stock_manager
DB_PORT=5432

# Google Drive OAuth2 (opcional, necesario solo para la gestión de archivos en Drive)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/database/oauth/callback
