:root {
    --border-radius: 5px;
}


/* -------------| Scroll bar |--------------- */

/* -------------| Scroll bar |--------------- */

/* width */
::-webkit-scrollbar {
    width: .5em;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: var(--border-radius);

    /* Crea margenes arriba y abajo del elemento */
    margin-block: 0.5em;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: var(--indigo-200);
    border-radius: var(--border-radius);
    border: .1em solid var(--indigo-500);
}

/* Thumb Hover*/
::-webkit-scrollbar-thumb:hover {
    background: var(--indigo-300);
    border-radius: var(--border-radius);
}

.col-12 {
    height: 9vh;
}