:root {
    --border-radius: 5px;
    --border-radius-button: 15px;
    --border-radius-icon-button: 100%;
    --box-shadow-0: 0px 0px 8px var(--md-sys-color-shadow);
    --box-shadow-1: 1px 1px 8px var(--md-sys-color-shadow);
    --box-shadow-2: 2px 2px 8px var(--md-sys-color-shadow);
    --box-shadow-form-input:  0 0 8px rgba(0, 0, 0, 0.20);
}
.base{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.base-navbar{
    padding: 0;
    margin: 0;
}

.base-body{
    padding: 0;
    margin: 0;
    height: 93vh;
    width: 100vw;
}
/* -------------| Scroll bar |--------------- */

/* width */
::-webkit-scrollbar {
    width: .5em;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: var(--border-radius);

    /* Crea margenes arriba y abajo del elemento */
    margin-block: 0.5em;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-surface-container-high);
    border-radius: var(--border-radius);
    border: .1em solid var(--md-sys-color-surface-dim);
}

/* Thumb Hover*/
::-webkit-scrollbar-thumb:hover {
    background: var(--md-sys-color-surface-container-highest);
    border-radius: var(--border-radius);
}