.contenedorBotonesEditarBorrar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.botonEditar {
    color: orange;
}

.botonEliminar {
    color: red;
}

i{
    font-size: 1em;
}

.inventoryButtonDeleteEdit{
    border: none;
    border-radius: 100%;
    padding-inline: .8em;
    padding-block: .8em;
    transition: background 0.1s;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
}

.separadorEditarEliminar{
    height: 1.5em;
    border: 1px solid lightgray;
}