.contadoresHome {
    height: 20vh;
    min-height: 125px;
}

.contadoresHome .col {
    width: 100%;
    height: 100%;
}

.right-containerHome{
    height: 90vh;
}

.estadisticasHome{
    height: 71vh;
}

.estadisticasHome .col-4{
    height: 100%;
}


.estadisticasHome .col-8{
    height: 100%;
}