.contadoresHome {
    height: 20vh;
    min-height: 125px;
}

.contadoresHome .col {
    width: 100%;
    height: 100%;
}

.right-containerHome{
    height: 90.1vh;
}

.estadisticasHome{
    height: 71vh;
}