.inventory{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inventarioTabla{
    display: flex;
    flex-direction: column;
    flex: 8;
    height: 90vh;
    width: 80vw;
    overflow-y: auto;
}

.ContenedorTablaBoton{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    margin: 1vw;
}

.inventory--MenuLateral{
    height: 100%;
    width: 100%;
}

.BotonesBajos{
    display: flex;
    flex: 2;
}