.inventory{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inventarioTabla{
    flex: 8;
    height: 90vh;
    width: 78vw;
}

.inventarioMenuLateral{
    flex: 2;
    height: 90vh;
    width: 20vw;
}