.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: var(--md-sys-color-inverse-surface);
    width: 100%;
    height: 100%;
    padding: .5vw;
    box-shadow: var(--box-shadow-0);
    position: relative;
    z-index: 10;
}

.navbarLeft{
    display: flex;
    flex:2
}

.navbarCenter{
    display: flex;
    flex:6;
    text-align: center;
    justify-content: center;
}

.navbarRight{
    display: flex;
    justify-content:end;
    flex:2
}
.linkNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
    background-color: var(--md-sys-color-inverse-primary);
    border: none;
    font-family: 'Montserrat';
    font-size: 2vh;
    color: var(--md-sys-color-inverse-surface);
    cursor: pointer;
    text-decoration: none;
    transition: background 0.1s;
}
.linkNavbar:hover {
    opacity: 0.8;
}

/* Para Inventories */
.linkNavbar--inventories {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Para Catalogs */
.linkNavbar--catalogs {
    margin-inline: 0.2em;
    border-radius: 2px;    
}

/* Para Users */
.linkNavbar--users {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Para Titulo */
.linkNavbar--title {
    width: 10em;
    font-family: 'Montserrat';
    font-size: 2vh;
    color: var(--md-sys-color-inverse-on-surface);
}

/* Para Settings */
.linkNavbar--settings {
    width: 5em;
    height: 2.28em;
    margin-right: 0.5em;
}

/* Para User */
.linkNavbar--user {
    width: 5em;
    height: 2.28em;
}
