.UltimosMovimientosHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--indigo-500);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.ultimosMovimientosMovimientos {
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    width: 100%;
    height: 100%;
}

.ultimosMovimientosTitulo {
    flex: 1;
    display: flex;              /* Hace que su contenido sea centrable */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--indigo-200);
    border-radius: var(--border-radius);
}