
.user-session-container {
    position: fixed; /* Cambiamos a fixed para asegurar la posición */
    top: 50px; /* Ajustamos justo debajo del Navbar */
    right: 20px; /* Margen desde el borde derecho */
    z-index: 9999; /* Aseguramos que esté encima de otros elementos */
}

.user-session {
    display: flex;
    height: 62px;
    align-items: center;
    background: #ffffff;
    border: 2px solid #ddd; /* Reducción del grosor */
    border-radius: 3px;
    padding: 0.5rem; /* Reducimos el padding */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Elimina contenido que sobresalga */
}

.avatar-container {
    text-align: right;
    margin-right: 0.5rem;
}

.user-avatar {
    width: 40px; /* Reducimos el tamaño del avatar */
    height: 40px;
    border-radius: 60%;
    object-fit: cover;
}

.edit-avatar-link {
    color: #007bff;
    text-decoration: none;
    font-size: 0.65rem;
}

.edit-avatar-link:hover {
    text-decoration: underline;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 0.7rem;
}

.user-name {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0;
}

.session-timer,
.current-time {
    font-size: 0.65rem;
    color: #555;
}

.logout-button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
    font-size: 0.65rem;
    cursor: pointer;
    transition: background 0.3s;
}

.logout-button:hover {
    background: #c0392b;
}