.usuariosActivos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface-container);
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* 
    Nota: 
    en este caso no me sirve utilizar justify-content: space-evenly
    ya que eso da un espaciado definido entre el contenedor y los elementos
    al haber muchos elementos estos se aplastan entre si sin dejar espaciado

    la solucion está en usar un gap para dar un espaciado definido y un 
    paddin-block para setear paddings arriba y abajo del contenedor
*/
.usuariosActivosMovimientos {
    flex: 9.3;
    display:flex;
    flex-direction: column;
    align-items:center;
    color: var(--md-sys-color-on-surface);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 1em;
    padding-block: 1em;
}

.usuariosActivosTitulo {
    flex: 0.7;
    display: flex;              /* Hace que su contenido sea centrable */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--md-sys-color-on-surface);
    width: 100%;
    height: 100%;
    border-bottom: .1vw solid var(--md-sys-color-on-surface);;
    border-radius: var(--border-radius);
}